In [1]:
import pandas
import duckdb

In [40]:

players = pandas.read_csv(r"data/fifa/players_21.csv")
results = pandas.read_csv(r"data/results_premier/results.csv", encoding = "ISO-8859-1")

In [41]:
query = """
    SELECT 
      club_name
      , avg(overall) filter(where club_position = 'RES') as reserve_overall
      , avg(overall) filter(where club_position = 'SUB') as subs_overall
      , avg(overall) filter(where club_position not in ('RES','SUB') ) as titular_overall
      , avg(overall) filter(where club_position in ('ST','CAM','LS','LW','RCM', 'RW','CF','RS' , 'LCM', 'LM' ,'RM', 'CM', 'LAM', 'RAM', 'RF') ) as attack_overall
      , avg(overall) filter(where club_position in ('RCM' , 'LCM', 'LM' ,'RM', 'CM', 'GK', 'LCB', 'RCB' ,'CDM', 'LDM' , 'RDM', 'LB', 'RB' ,'CB', 'RCB' , 'LCB' ) ) as defend_overall

    FROM players 
    where league_name = 'English Premier League' 
    group by club_name
    
"""
teams_21 = duckdb.query(query).to_df()

In [47]:

query = """
    SELECT distinct AwayTeam FROM results  where season = '2021-22'
"""
duckdb.query(query).to_df()

          AwayTeam
0          Arsenal
1            Leeds
2         Brighton
3   Crystal Palace
4      Southampton
5           Wolves
6      Aston Villa
7        Liverpool
8         West Ham
9         Man City
10         Burnley
11       Newcastle
12       Brentford
13         Everton
14         Norwich
15         Watford
16      Man United
17       Tottenham
18         Chelsea
19       Leicester